<div class="container mx-auto">
    <div class="overflow-x-auto">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
          <tr>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">id</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">nombre</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Email</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          @for (user of users; track user) {
          <tr>
            <td class="px-6 py-4 whitespace-nowrap">{{user.id}}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{user.name}}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{user.email}}</td>
          </tr>}
        </tbody>
      </table>
    </div>
  </div>