<div class="flex justify-center items-center h-screen">
    <div class="lg:w-3/6">
      <div class="rounded-lg p-8 flex flex-col items-center">
        <h2 class="text-gray-900 text-lg font-medium title-font mb-5">Detalles de orden</h2>
        <form class="w-full" [formGroup]="placeOrderForm" (ngSubmit)="placeOrder()">
          <div class="relative mb-4">
            <input id="name" placeholder="direccion" name="name" formControlName="address" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
          <div class="relative mb-4">
            <input id="description" placeholder="descripcion" name="description" formControlName="orderDescription" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
          <div class="mb-4">
                <select required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                    id="category" formControlName="payment"  required >
                    <option selected disabled>Selecciona el metodo de pago</option>
                    @for (payment of payments; track payment) {
                        <option value="{{payment}}">{{payment}}</option>
                    }
            </select>
          </div>
          <button class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg w-full">Enviar</button>
        </form>
      </div>
    </div>
  </div>